*{
    box-sizing: border-box;
}

body {
    background-color: antiquewhite;
}

.loginForm{
    width: 300px;
    background-color: red;
    padding:20px;
    margin:0 auto;
    margin-top:10%;
    border-radius: 5px;
    display: flex;
    flex-direction: column; /* 요소들을 세로로 배치 */
    align-items: center; /* 세로 중앙 정렬 */
}

.loginId{
    padding:10px;
    margin-bottom: 10px;
    border:none;
    border-radius: 5px;
}

.loginPW{
    padding:10px;
    margin-bottom: 10px;
    border:none;
    border-radius: 5px;
}

.loginBtn{
    width: 100%;
    background-color: gray;
    margin-bottom: 10px;
    padding:10px;
    border:none;
    border-radius: 5px;
}
